body {
    font-size: 100%;
}

#searcher-tabs {
    .ui-tab.active {
        font-weight: bold;
    }

    .ui-tab-content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.searcher-products-list {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    padding: 0;

    li {
        box-sizing: border-box;
        background: #ccc;
        display: block;
        width: 46%;
        margin: 0 2%;
        padding: 5px 10px;
        font-size: 1.2rem;
    }
}